@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-selected {
  color: #ffffff !important;
}

.ant-menu .ant-menu-item.ant-menu-item-selected {
  color: #ffffff !important;
}

.ant-select-item-option-selected {
  color: #ffffff !important;
  background-color: #56575c !important;
}

.ant-dropdown-menu-item-selected {
  color: #ffffff !important;
}

.ant-menu-item-selected {
  color: #ffffff !important;
}

.ant-skeleton-avatar.ant-skeleton-avatar-sm {
  width: 32px !important;
  height: 32px !important;
}

.ant-drawer-header {
  padding: 1px 16px 1px 8px !important;
}

.ant-layout-sider {
  background-color: #ffffff !important;
}

.ant-layout-sider-trigger {
  background-color: #18181b !important;
}

.ant-menu-inline-collapsed > .ant-menu-item {
  padding-inline: calc(50% - 10px - 8px) !important;
}

.ant-menu-item-icon {
  vertical-align: -7px !important;
}

.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding-inline: calc(50% - 10px - 8px) !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.ant-tooltip {
  font-size: 16px !important;
}

.ant-tooltip .ant-tooltip-inner {
  min-height: fit-content !important;
  background-color: #18181b !important;
}

.ant-menu-title-content {
  font-weight: 600 !important;
}

.ant-cascader-menu-item-active {
  color: #ffffff !important;
}

.ant-cascader-menu-item-active .ant-cascader-menu-item-expand-icon {
  color: #ffffff !important;
}

.ant-upload-drag {
  background-color: #ffffff !important;
}

.ant-table-row.ant-table-row-selected > .ant-table-cell {
  background-color: #dddddd !important;
}

.ant-table-cell-with-append {
  display: flex;
  align-items: center;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-color: #d9d9d9 !important;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-color: #d9d9d9 !important;
}

.ql-editor {
  min-height: 10rem;
  font-size: 16px;
  font-weight: 400;
  color: rgb(2, 8, 23) !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

.ant-input-data-count {
  bottom: 0px !important;
  right: 10px !important;
}

.ant-image-mask-info {
  display: none !important;
}

.product .ant-upload.ant-upload-select {
  width: 8rem !important;
  height: 8rem !important;
  background-color: #ffffff !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #ffffff !important;
  font-weight: 600;
  background-color: #56575c;
}

.user-image .ant-image-mask {
  border-radius: 9999px !important;
}

.ant-badge .ant-badge-dot {
  top: 2px !important;
  transform: translate(-16%, -50%) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
